.increment-button {
  background: #03c03c;
}

.remove-button {
  background: Orangered;
}

.increment-button,
.decrement-button,
.remove-button {
  width: 30px;
}

.product-title {
  text-transform: capitalize;
}
